body{
    z-index:0;
    padding: 0;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
}

.row-content-small {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge #f1f1f1;
    min-height: 100px;
}

.row-footer {
    background-color: #AFAFAF;
    margin: 0px auto;
}

.zero-border{
    border: 0px;
}

.navbar-inverse {
    color: #f00;
    background: #006400;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #3CB371;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #006400;
    color:#fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}
