body{
    z-index:0;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
}

.row-content-small {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge #f1f1f1;
    min-height: 100px;
}

.row-footer {
    background-color: #AFAFAF;
    margin: 0px auto;
}

.zero-border{
    border: 0px;
}
.row-fluid{
     white-space: nowrap;
}
.row-fluid .col-lg-3{
     display: inline-block;
}
