<div class="container">
    <div class="row">

        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="consultas.html">Consultas</a></li>
            <li class="active">Consulta Chave de Acesso</li>
        </ol>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Consulta Chave de Acesso</h3>
            </div>
            <div class="panel-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputCNPJ" class="col-sm-2 control-label">CNPJ</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCNPJ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputModelo" class="col-sm-2 control-label">Modelo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputModelo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSerie" class="col-sm-2 control-label">Serie</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputSerie">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputNumero" class="col-sm-2 control-label">Número</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputNumero">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <img src="images/captcha.png" alt="..." class="img-thumbnail">
                            <a><span class="glyphicon glyphicon-refresh"></span></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputChaveAcesso" class="col-sm-2 control-label">Captcha</label>
                        <div class="col-sm-10" >
                            <input type="text" class="form-control" id="inputCaptcha">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputChaveAcesso" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10" >
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default">Consultar</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    	</div>
</div>
