<div class="header">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="images/logo-nfce.png" height=35 width=46></a>
      </div>

      <div id="app-navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a ui-sref="app"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-search" aria-hidden="true"/>Consultas <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a data-toggle="collapse" data-target=".nav-collapse.in" ui-sref="app.consulta_nota">Nota Fiscal Eletrônica</a></l>
              <li><a ui-sref="app.consulta_chave">Chave de Acesso</a></li>
              <li><a ui-sref="app.consulta_inutilizacao">Inutilização</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Specials</li>
              <li><a href="#">Lunch Buffet</a></li>
              <li><a href="#">Weekend Brunch</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
              role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"/>
              Informações <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="informacoes_esquema_xml.html">Esquemas XML</a></li>
              <li><a href="informacoes_urls.html">URL dos Serviços</a></li>
              <li><a href="informacoes_instalar_certificado.html">Instalar Certificado Digital</a></li>
            </ul>
          </li>
          <li>
            <a href="contactus.html">
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
