
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <div class="container">
        <div class="row row-header">
          <div class="col-xs-12 col-sm-12">
            <h1>Nota Fiscal Eletrônica ao Consumidor</h1>
            <p class="text-justify">O projeto da Nota Fiscal de Consumidor Eletrônica (NFC-e) teve início em setembro de 2011, na 143º reunião do Conselho Nacional de Política Fazendária (CONFAZ), realizada em Manaus. Os secretários entendiam que o modelo que vinha sendo adotado para controle das operações do varejo deveria ser aprimorado para melhor atender as necessidades dos envolvidos no processo: fisco e contribuintes.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">Últimas Notícias</div>
      <div class="panel-body">
        <p>Atualize-se com as útlimas notícias do projeto NFC-e</p>
      </div>
      <ul class="list-group">
        <li
          ng-repeat="msg in mensagens"
          ng-click="open('sm', msg)"
          class="list-group-item">{{msg.titulo}}</li>
      </ul>
    </div>
  </div>
</div>
