<header class="jumbotron">
  <div class="container">
    <div class="row row-header">
      <div class="col-xs-12 col-sm-12">
        <h1>Nota Fiscal Eletrônica ao Consumidor</h1>
        <p class="text-justify">O projeto da Nota Fiscal de Consumidor Eletrônica (NFC-e) teve início em setembro de 2011, na 143º reunião do Conselho Nacional de Política Fazendária (CONFAZ), realizada em Manaus. Os secretários entendiam que o modelo que vinha sendo adotado para controle das operações do varejo deveria ser aprimorado para melhor atender as necessidades dos envolvidos no processo: fisco e contribuintes.</p>
      </div>
    </div>
  </div>
</header>
